# API Base Endpoint (Production API server)
NEXT_PUBLIC_API_URL=https://api.vendorapos.pro

# Stripe Publishable Key (used to load elements or redirect to checkout sessions)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51...
